* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0e13;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    margin: 0;
    padding-top: 35px;
    background-color: #111419;
    background-position: 100%;
    padding-bottom: 35px;
    margin-bottom: 0px;
}

.menu li {
    list-style: none; 
    margin: 5px 10px 0px 35px;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menuli {
    font-size: 30px;
    padding-right: 50%;
    padding-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.t1 {
    text-align: center;
    margin-top: 100px;
    text-shadow: 1px 2px 3px black;
}

.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 300px;
    height: 350px;
    background: #111419;
   
    border-radius: 5%;
    box-shadow: 1px 2px 3px black;
}

.container2 {
    width: 300px;
    height: 350px;
    background: #111419;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: 1px 2px 3px black;
}

.container3 {
    width: 300px;
    height: 350px;
    background: #111419;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: 1px 2px 3px black;
}

.container1 img {
    width: 80%;
    margin-left: 10%;
    margin-top: 17px;
    margin-bottom: 20px;
}

.container2 img {
    width: 45%;
    margin-left: 28%;
    margin-top: 17px;
    margin-bottom: 15px;
}

.container3 img {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container1 h2 {
 color: #fa0000;
 margin: 10px 10px;
}

.container2 h2 {
    color: #fed700;
}

.container3 h2 {
    color: #2728ff;
}

.principal h2 {
    font-size: medium;
    text-align: center;
    margin-top: 10px;
}

.principal h3 {
    font-size: medium;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    width: 100%;
    align-items: end;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111419;
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 8%;
}